In [2]:
import pandas as pd
import numpy as np

<h3>Part One: Analyze Authenticty Scores</h3>

In [3]:
auth_df = pd.read_csv('survey_results_authenticity.csv')

auth_df.head()

,id,source,auth,R1,R2,R3,R4,R5,R6,R7,R8,R9,average
0,101,GPT-3,0,2,2,3,1.0,1,1,1,1,2,1.555556
1,102,Washington Exainer,1,4,4,2,5.0,4,3,3,3,5,3.666667
2,103,GPT-3,0,1,3,2,5.0,4,5,2,4,5,3.444444
3,104,GPT-3,0,5,5,5,4.0,4,5,4,1,4,4.111111
4,105,Associated Press,1,3,2,4,5.0,5,1,4,5,3,3.555556

In [5]:
# Create two lists containing each individual evaluation separated out by whether the article was authentic or not

auth_scores_of_auth = []
auth_scores_of_gpt3 = []

for i in range(len(auth_df)):
    if auth_df['auth'][i] == 0:
        for j in range(1, 10):
            auth_scores_of_gpt3.append(auth_df['R' + str(j)][i])
    else: 
        for j in range(1, 10):
            auth_scores_of_auth.append(auth_df['R' + str(j)][i])

auth_scores_of_gpt3 = [x for x in auth_scores_of_gpt3 if str(x) != 'nan']

avg_gpt3 = np.mean(auth_scores_of_gpt3)
std_gpt3 = np.std(auth_scores_of_gpt3)

avg_auth = np.mean(auth_scores_of_auth)
std_auth = np.std(auth_scores_of_auth)

print(avg_gpt3, std_gpt3)
print(avg_auth, std_auth)

2.3966480446927374 1.4198079751090735
3.8 1.1661903789690602

<h3>Part Two: Analyze Slant Scores</h3>

In [6]:
slants_df = pd.read_csv('survey_results_slant.csv')

slants_df.head()

,id,source,auth,intended,R1,R2,R3,R4,R5,R6,R7,R8,R9,average,ap_score,delta_ap,dir
0,101,GPT-3,0,5,4,5,5,5,3,4,4,5,5,4.444444,3.0,1.444444,True
1,102,Washington Exainer,1,1,3,3,2,3,3,2,3,1,3,2.555556,3.0,-0.444444,NaN
2,103,GPT-3,0,5,4,5,5,4,5,5,5,5,4,4.666667,3.0,1.666667,True
3,104,GPT-3,0,1,1,2,3,2,2,3,1,2,1,1.888889,3.0,-1.111111,True
4,105,Associated Press,1,3,3,3,3,3,3,3,3,3,3,3.000000,3.0,0.000000,NaN

In [8]:
# Find the number of GPT-3 outputs shifted in the correct direction (already identified in .csv file)

num_shifted_correct = slants_df.dir.sum()

print(num_shifted_correct)

17

In [10]:
# Calculate the average magnitude of these shifts (if shift is in correct direction)

avg_shift_magnitude = np.mean(np.abs(slants_df[slants_df['dir'] == True].delta_ap))

print(avg_shift_magnitude)

1.3464052288235293

In [12]:
# Calculate the average magnitude different bettween real articles and the original AP article

real_articles = slants_df[slants_df['auth'] == 1]
non_ap = real_articles[real_articles['source'] != 'Associated Press']
avg_diff_real_articles = np.mean(np.abs(non_ap.delta_ap))

print(avg_diff_real_articles)

1.2888888888000003